<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>boAt - Rock the Soundwave</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Unleash the ultimate audio experience with boAt’s premium earbuds, speakers, and lifestyle gear. Dive in now!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="boAt - Rock the Soundwave">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yourwebsite.com">
    <meta property="og:image" content="/assets/imgs/theme/boat-og-image.jpg">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
 
</head>
<body>
      <%- include('../layouts/header') %>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
 
                
                     
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                 
                                <% if (isLoggedIn) { %>
                                    <li><a href="/logout"><i class="fi-rs-sign-out"></i> Logout</a></li>
                                <% } else { %>
                                    <li><i class="fi-rs-user"></i> <a href="/login">Join the Crew</a></li>
                                <% } %>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                     
                    <div class="header-right">
                        <div class="search-style-2">
                       
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Wishlist" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cartpage">
                                        <img alt="Cart" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
               
            </div>
        </div>
    </header>

    <main class="main">
        <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Feel the Beat</h4>
                                    <h2 class="animated fw-900">Wireless Bliss</h2>
                                    <h1 class="animated fw-900 text-brand">₹999* Onward!</h1>
                                    <p class="animated">Crank Up the Savings - Up to 70% Off!</p>
                                    <a class="animated btn btn-brush btn-brush-3" href="/shop-product-right.html">Ride the Wave</a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="/assets/imgs/boat_home.webp" alt="boAt Wireless Earbuds">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="featured section-padding position-relative">
            <div class="container">
                <h2 class="text-center mb-30 fw-900">Why boAt Rocks?</h2>
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features hover-up">
                            <img src="/assets/imgs/theme/icons/feature-1.png" alt="Free Shipping">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features hover-up">
                            <img src="/assets/imgs/theme/icons/feature-2.png" alt="Online Order">
                            <h4 class="bg-3">Shop Anytime</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features hover-up">
                            <img src="/assets/imgs/theme/icons/feature-3.png" alt="Save Money">
                            <h4 class="bg-2">Epic Deals</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features hover-up">
                            <img src="/assets/imgs/theme/icons/feature-4.png" alt="Promotions">
                            <h4 class="bg-4">Hot Offers</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features hover-up">
                            <img src="/assets/imgs/theme/icons/feature-5.png" alt="Happy Sell">
                            <h4 class="bg-5">Joyful Vibes</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features hover-up">
                            <img src="/assets/imgs/theme/icons/feature-6.png" alt="24/7 Support">
                            <h4 class="bg-6">Always On</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="product-tabs section-padding position-relative">
            <div class="container">
                <h2 class="text-center mb-30 fw-900">Gear Up Your Sound</h2>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <% product.forEach(element => { %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productpage?id=<%= element._id %>">
                                                    <img class="default-img" src="/<%= element.additionalimages[0] %>" alt="<%= element.name %>">
                                                    <img class="hover-img" src="/<%= element.additionalimages[1] %>" alt="<%= element.name %>">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="/shop-grid-right.html">Audio Bliss</a>
                                            </div>
                                            <h2><a href="/productpage?id=<%= element._id %>"><%= element.name %></a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>90% 🔥</span>
                                            </div>
                                            <div class="product-price">
                                                <span>₹<%= element.price %></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" href="/addToCart?id=<%= element._id %>">
                                                    <i class="fi-rs-shopping-bag-add"></i> Add Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../layouts/footer') %>
</body>
</html>